# Environment
.env
.env.*
!.env.example

# Secrets
*.pem
*.key
*.p12

# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build
.next
.expo
.expo-shared
.turbo
out

# Prisma
packages/database/generated

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Testing
coverage

# Mobile
*.ipa
*.apk
*.aab

# Misc
.vercel
.netlify
.turbo
